.card {
  background-color: black;
  color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  min-width: 15rem;
  min-height: 15rem;
  display: inline-block;
}

.card-title {
  color:aquamarine;
}